.msg-operation-btn {
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    width: 50px;
    text-align: center;
    background-color: #3c8dbc;
    color: #fff;
    display: inline-block;
    border-radius: 3px;
    font-size: 14px;
}

.msg-operation-btn:hover, .msg-operation-btn:active {
    background-color: #72afd2;
    color: #fff !important;
}

.ot-content {
    min-height: 49%;
    width: 100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
}

.second:before {
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    border-top: 1px dashed #b7b9bb;
    margin-bottom: 15px;
}

.ot-content.second {
    top: 50%;
}

.message-area {
    background-color: #fff;
    width: 25%;
    height: 88%;
    position: absolute;
    margin-left: 10px;
    border-radius: 3px;
    padding: 6px;
    overflow: auto;
    max-height: 88%;
}

.message-area::-webkit-scrollbar, .result-area::-webkit-scrollbar { /*滚动条整体样式*/
    width: 8px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.message-area::-webkit-scrollbar-thumb, .result-area::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.2);
    background: #c4c4c4;
}

.message-area::-webkit-scrollbar-track, .result-area::-webkit-scrollbar { /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background: #f6f6f6;
}

.message-area[contenteditable] {
    font-size: 14px;
}

.message-area[contenteditable]:focus {
    outline: none;
    content: none;
}

.message-area[contenteditable]:empty:before {
    content: attr(placeholder);
    color: #CCCCCC;
}

.btn-area {
    width: 15%;
    height: 88%;
    position: absolute;
    left: 31%;
    text-align: center;
    padding-top: 8%;
}

.btn-area > .btn-title {
    top: 1px;
    position: absolute;
    font-size: 18px;
    left: 4px;
    color: #3c8dbc;
}

.btn-area > a {
    width: 120px;
    display: block;
    height: 36px;
    line-height: 34px;
    cursor: pointer;
    font-family: "Microsoft YaHei", "微软雅黑";
    font-size: 16px;
    border-radius: 2px;
}

#send-btn, #consume-btn {
    background-color: #e22e33;
    color: #fff;
    margin-bottom: 16px;
}

#send-btn:hover, #consume-btn:hover {
    background-color: #d10d1a;
}

#send-reset, #consume-reset {
    background-color: #fff;
    border: 1px solid #D5D5D5;
    color: #262626;
}

#send-reset:hover, #consume-reset:hover {
    color: #e22e33;
    border-color: #e22e33;
    background-color: #fff;
}

.result-area {
    background-color: #fff;
    width: 55%;
    height: 88%;
    position: absolute;
    border-radius: 3px;
    padding: 6px;
    overflow: auto;
    max-height: 88%;
    left: 44%;
}

.result-area .result-id {
    width: 210px;
    display: inline-block;
}

.result-area .reason {
    display: inline-flex;
    width: calc(100% - 210px);
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 5px;
}

.alert-tail {
    color: #fff;
    word-wrap: break-word;
    white-space: pre-line;
    max-height: 700px;
    width: 1200px;
    overflow-y: scroll;
}

.modal-dialog {
    width: 700px;
}